// Google Font
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400);

// Variables
$roboto-stack: "Roboto", sans-serif;
$headerfooter-color: white;
$bg-color: rgb(69, 81, 136);
$content-margin: 2vh 0vw;

// Base container
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $roboto-stack;
  min-height: 100vh;
}

.line {
  height: 0.2vh;
  margin-top: 4vh;
  background-color: $bg-color;
  width: 50vw;
  align-self: center;
}

// Main Section
.maincontent {
  order: 2;
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generalinfo-form,
.workinfo-form,
.educationinfo-form,
.displaytemplate,
form {
  margin: $content-margin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

input {
  width: 30vw;
  height: 5vh;
  align-self: center;
  margin: 1vh 0vw;
  background-color: rgb(177, 195, 226);
}

input::placeholder {
  color: rgb(78, 77, 77);
}

#add-btn {
  width: 8vw;
  max-height: 6vh;
  background-color: $bg-color;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

// Template CV Form
.displaytemplate {
  border-radius: 10px;
  box-shadow: 0px 6px 10px 8px rgb(149, 149, 166);
  width: 50vw;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.section2,
.section3 {
  margin: $content-margin;
}

.section1 {
  width: 100%;
  background-color: rgb(119, 136, 185);
  order: 1;
  align-self: flex-start;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0vw;
  h2,
  h3 {
    align-self: center;
  }
}

.section2 {
  order: 2;
}

.section3 {
  order: 3;
}
// Header and Footer
.header {
  color: $headerfooter-color;
  background-color: $bg-color;
  min-height: 10vh;
  width: 100vw;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  order: 1;
  h1 {
    align-self: center;
  }
}

.footer {
  color: $headerfooter-color;
  background-color: $bg-color;
  order: 3;
  flex-grow: 0;
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  h3 {
    align-self: center;
  }
}
